<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    
    <title>Convo Bot Demo</title>
    
    <style>
            body{
                background-color: black;
                color: white;
                font-family: Helvetica, Arial, Sans-Serif;
            }

    </style>
    
</head>
<body>
    <h3>Convo Relay Bot Demo.</h3>
    <h3>To get started, point your cursor to bottom-right corner.</h3>
</body>
</html>
