<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
    
    <style>
            body{
                background-color: black;
                color: white;
                font-family: Helvetica, Arial, Sans-Serif;
            }

    </style>
    
</head>
<body>
    <h2>Convo Relay Bot Demo.</h2>
    <h2>To get started, point your cursor bottom-right corner.</h2>
</body>
</html>
